<div class="grid-container">
    <div class="jacob person">Jacob (Israel)</div>
    <div class="leah person">Leah 1st</div>
    <div class="rachel person">Rachel 2nd</div>
    <div class="bilhah person">Bilhah 3rd</div>
    <div class="zilpah person">Zilpah</div>
    <div class="reuben person">Reuben 1st</div>
    <div class="joseph person">Joseph 11</div>
    <div class="dan person">Dan 5</div>
    <div class="gad person">Gad 7</div>
    <div class="simeon person">Simeon 2nd</div>
    <div class="benjamin person">Benjamin 12</div>
    <div class="naphtali person">Naphtali 6</div>
    <div class="asher person">Asher 8</div>
    <div class="levi person">Levi 3rd</div>
    <div class="judah person">Judah 4th</div>
    <div class="issachar person">Issachar 9</div>
    <div class="zebulun person">Zebulun 10</div>
    <div class="dinah person">Dinah 11 child</div>
</div>
