<div class="grid-container">
    <div class="jacob person">Jacob (Israel)</div>
    <div class="leah person">Leah<br>1st wife</div>
    <div class="rachel person">Rachel<br>2nd wife</div>
    <div class="bilhah person">Bilhah<br>3rd wife</div>
    <div class="zilpah person">Zilpah<br>4th wife</div>
    <div class="reuben person">Reuben<br>1st son<br>1st child</div>
    <div class="joseph person">Joseph<br>1st son<br>12th child</div>
    <div class="dan person">Dan<br>1st son<br>5th child</div>
    <div class="gad person">Gad<br>1st son<br>7th child</div>
    <div class="simeon person">Simeon<br>2nd son<br>2nd child</div>
    <div class="benjamin person">Benjamin<br>2nd son<br>13th child</div>
    <div class="naphtali person">Naphtali<br>2nd son<br>6th child</div>
    <div class="asher person">Asher<br>2nd son<br>8th child</div>
    <div class="levi person">Levi<br>3rd son<br>3rd child</div>
    <div class="judah person">Judah<br>4th son<br>4th child</div>
    <div class="isaachar person">Issachar 9</div>
    <div class="zebulon person">Zebulun<br>3rd son<br>10th child</div>
    <div class="dinah person">Dinah<br>1st daughter<br>11th child</div>
</div>
